@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
:root{
  height: 100%;
  color-scheme: light;
}
.icon-container {
  background: linear-gradient(to right, #ff00cc, #3333cc); /* Cambia los colores según tus preferencias */
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
}

.gradient-icon {
  color: transparent;
  background: linear-gradient(to right, #ff00cc, #3333cc);
  background-clip: text; /* Esta línea es suficiente para navegadores modernos */
  -webkit-background-clip: text; /* Agrega también la propiedad con prefijo para compatibilidad con WebKit */
  display: inline-block;
}
body{
  @media (min-width: 1800px) {
    overflow-x: hidden;
  }

}